*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: white;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    margin-right: 14px;
    padding: 20px;
}
#orta{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    margin-right: 14px;
    padding: 20px;
}
a{
    color: black;
    text-decoration: none;
    font-size: 25px;
    display: inline-block;
    line-height: 24px;
    margin-right: 20px;
}
a:hover{
    text-decoration: underline ;
}
div #orta{
    text-align: center;
}

button{
    background-color: rgb(68, 99, 238);
    color: white;
    margin: 15px;
    padding: 5px;
    border-radius: 5px;
    border:solid 1px black;
    text-align: center;
}
button:hover{
    opacity: 0.5;
}
.logo{
    text-align: center;
}
a .alt1{
    color: rgb(230, 238, 240);
    text-decoration: none;
    font-size: 25px;
    display: inline-block;
    line-height: 24px;
    margin-right: 20px;
    text-align: left;
}
a .alt2{
    text-decoration: none;
    font-size: 25px;
    display: inline-block;
    justify-content: flex-end;
    line-height: 24px;
    margin-right: 20px;
    text-align: right;
}
.google1{
    text-align: center;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}