*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;   
}
body{
    margin: 0px;
    padding: 0px;
    background-color: blanchedalmond;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    margin-right: 14px;
    padding: 20px;
}
a{
    color: black;
    text-decoration: none;
    font-size: 25px;
    display: inline-block;
    line-height: 24px;
    margin-right: 20px;
}
a:hover{
    text-decoration: underline ;
}

button{
    background-color: blue;
    color: rgb(62, 194, 73);
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border:solid 2px black;
    text-align: center;
}
button:hover{
    opacity: 0.5;
}
#logo{
    text-align: center;
}
a #alt1{
    color: rgb(230, 238, 240);
    text-decoration: none;
    font-size: 25px;
    display: inline-block;
    line-height: 24px;
    margin-right: 20px;
    text-align: left;
}
a #alt2{
    color: rgb(230, 238, 240);
    text-decoration: none;
    font-size: 25px;
    display: inline-block;
    line-height: 24px;
    margin-right: 20px;
    text-align: right;
}