*{
            /* margin: 0px; */
            /* padding: 0px; */
        }
        .header ul{
            list-style: none;
            display: flex;
            
        }
        .header li{
            margin-right: 20px;
        
        }
        .header a{
            text-decoration: none;
            color: rgba(0, 0, 0, .8);
        }
        .header a:hover{
            text-decoration: underline;
        }
        .header{
            display: inline;
            font-size: 0.8rem;
            font-family: Arial, Helvetica, sans-serif ;
            
        }
        .header-left{
            float: left;
            
        }
        .header-right{
            float: right;
        }
        #signin{
            background-color: #4285F4;
            color: white;
            font-size: 0.8rem;
            font-weight: bold;
            padding: 1px 6px;
            border: none;
            border-radius: 2px;
            height: 30px;
            width: 70px;
            position: relative;
            top: -8px;
        }
        #signin:hover{
            cursor: pointer;
        }
        #appicon img{
            opacity: .5;
            width: 30px;
            position: relative;
            top: -10px;
        }
        #appicon img:hover{
            opacity: 1;
        }
        
        .main{
            
            display:block;
            position: absolute;
            top: 27%;
            left: 35%;
            
        }
        .main-image{
            text-align: center;
        }
        .main-image img{
            width: 275px;
        }
        .main-searchbar input{
            width:500px ;
            height: 45px;
            margin: 20px;
            border: 0.5px solid;
            border-radius:25px ;
            padding-left: 25px;
            border-color: rgba(0, 0, 0, .2);
        }
        .main-searchbar input:hover{
            box-shadow: rgba(0, 0, 0, .2) 3px 3px 5px;
        }
        #glass{
            width: 30px;
            position: relative;
            left: 70px;
            top: 12px;
        }
        #mic{
            width: 15px;
            position: relative;
            left: -60px;
            top: 8px;
        }
        #glass:hover,
        #mic:hover{
            cursor: pointer;
        }
        .main-buttons{
            text-align: center;
            margin: 10px;
            
        }

        .main-buttons button {
            color: rgba(0, 0, 0, .7);
            font-size: 0.8rem;
            margin-right: 15px;
            border: none;
            border-radius: 5px;
            padding: 10px 15px;
            
        }
        .main-buttons button:hover{
            cursor: pointer;
            color: rgba(0, 0, 0, 1);
            /* border: 0.1px solid rgba(0, 0, 0, .4); */
        }
        .main-language{
            text-align: center;
            font-size: 0.8rem;
            margin: 20px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .main-language a{
            
            color: darkblue;
        }
        .location{
            color: rgba(0, 0, 0, .7);
            font-size: 0.9rem;
            margin-left: 10px;
            border-bottom: 1px solid rgba(0, 0, 0, .1) ;
            padding: 10px ;

            

        }

        .footer{
            background-color: #F2F2F2;
            position: absolute;
            bottom: 0;
            width: 100%;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 0.8rem;

        }
        .footer-link li{
            list-style: none;
            display: inline;
            margin-right: 20px;
        }
        .footer-link{
            /* border-bottom: 1px solid rgba(0, 0, 0, .1) ; */
            
        }
        .footer-link a{
            color: rgba(0, 0, 0, .7);
            text-decoration: none;
            
        }
        .footer-link a:hover{
            text-decoration: underline;
        }
        .footer-link-left{
            float: left;
            margin-left: -25px;
            /* border-top: 1px solid rgba(0, 0, 0, .1) ; */
        }
        .footer-link-right{
            float: right;
            margin-right: 30px;
        }
